# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/Project Boost/[Aa]ssets/Materials
/Project Boost/[Aa]ssets/Audio
/Project Boost/[Aa]ssets/Particles
/Project Boost/[Aa]ssets/Prefabs
/Project Boost/[Ll]ibrary/
/Project Boost/[Tt]emp/
/Project Boost/[Oo]bj/
/Project Boost/[Bb]uild/
/Project Boost/[Bb]uilds/
/Project Boost/[Ll]ogs/
/Project Boost/[Mm]emoryCaptures/

/Realm Rush/Assets/AssetPacks/
/Realm Rush/Assets/Environment/
/Realm Rush/Assets/Bank/Bank.prefab
/Realm Rush/Assets/Enemy/Ram.prefab
/Realm Rush/Assets/Enemy/Ram.prefab
/Realm Rush/[Ll]ibrary/
/Realm Rush/[Tt]emp/
/Realm Rush/[Oo]bj/
/Realm Rush/[Bb]uild/
/Realm Rush/[Bb]uilds/
/Realm Rush/[Ll]ogs/
/Realm Rush/[Mm]emoryCaptures/

/Argon Assault/[Aa]ssets/AssetPacks/
/Argon Assault/[Aa]ssets/Material/
/Argon Assault/[Aa]ssets/Music & VFX/
/Argon Assault/[Aa]ssets/Particles/
/Argon Assault/[Aa]ssets/Prefabs/
/Argon Assault/[Aa]ssets/Slackbar/
/Argon Assault/[Aa]ssets/TextMesh Pro/
/Argon Assault/[Ll]ibrary/
/Argon Assault/[Tt]emp/
/Argon Assault/[Oo]bj/
/Argon Assault/[Bb]uild/
/Argon Assault/[Bb]uilds/
/Argon Assault/[Ll]ogs/
/Argon Assault/[Mm]emoryCaptures/

/Zombie Runner/[Ll]ibrary/
/Zombie Runner/[Tt]emp/
/Zombie Runner/[Oo]bj/
/Zombie Runner/[Bb]uild/
/Zombie Runner/[Bb]uilds/
/Zombie Runner/[Ll]ogs/
/Zombie Runner/[Mm]emoryCaptures/
/Zombie Runner/Assets/Asset Packs/
/Zombie Runner/Assets/Material/
/Zombie Runner/Assets/Prefabs/
/Zombie Runner/Assets/Animations/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

